header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f51b5;
  color: #e0e0e0;
  box-sizing: border-box;
  // border-radius: 10px;
  width: 100%;
  height: 15%;
  margin-bottom: 1em;
  mat-card-title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }
  h1 {
    font-size: 2em;
    text-align: center;
    font-weight: 650;
    margin: auto;
    padding:1.5rem;
    letter-spacing: 2px;
  }
}
main {
  margin: auto;
  width: 90%;
  // height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // padding-bottom: 2em;
  border-radius: 10px;
  box-sizing: border-box;
  button {
    padding: 1em;
    margin-bottom: 1.5em;
  }

  button {
    margin: auto;
    width: 90%;
    height: 10%;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #3f51b5;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: #283593;
    }
    &:disabled {
      background-color: #9e9e9e;
      color: #e0e0e0;
      cursor: not-allowed;
    }
  }
}
 .title {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 1rem;
  }

mat-form-field {
  margin: auto;
  width: 90%;

  :focus{
    outline: 3px dotted rgb(81, 0, 255);
  }

  mat-label {
    font-size: 1rem;
    font-weight: 500;
  }
}

mat-radio-group {
  padding: 1em;
  // margin: auto;
  display: flex;
 justify-content: space-evenly;
  mat-radio-button {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    .radio-label {
      font-size: 1rem;
      font-weight: 500;
    }

  }

  label {
    color: green !important;
  }

  // mat-label {
  //   font-size: 1.5em;
  //   font-weight: 500;
  // }
}
mat-divider {
  margin: 1em 0;
}

legend{
  font-size: 1.5em;
  font-weight: 500;

  letter-spacing: 1px;
  margin-bottom: 1rem;
}



form {
  // width:100%;
}

fieldset{
  padding: auto;

  display: flex;
  flex-direction: column;
  mat-form-field{
    margin:auto
  }
}
html {
    font-size: calc(15px + 0.390625vw);
}


// body {
//   font-size: 7vw;
// }

// @media (max-width: 1200px) {
//   body {
//     font-size: 6vw !important;
//   }
//   legend{
//     font-size: 6vw;
//   }
// }

// @media (max-width: 992px) {
//   body {
//     font-size: 4vw;
//   }
// }

// @media (max-width: 768px) {
//   body {
//     font-size: 14px; /* Fixed font size for very small screens */
//   }
// }
