<form #esppForm="ngForm">
  <!-- <mat-card> -->
  <header class="center">
    <h1>ESPP Profit Calculator</h1>
    <br />
  </header>
  <main>

    <mat-divider></mat-divider>
    <fieldset>
      <legend>Start Date of Offering Period</legend>
      <mat-form-field appearance="fill">
        <mat-label>Offer Date/Grant Date</mat-label>
        <input
          matInput
          [matDatepicker]="dp"
          (dateChange)="this.offerDate = $event.value"
          name="offerDate"
          required
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker touchUi #dp></mat-datepicker>
      </mat-form-field>
    </fieldset>
    <mat-divider> </mat-divider>

    <fieldset>
      <legend>End Date of Offering Period</legend>
      <mat-form-field appearance="outline">
        <mat-label>Purchase Date</mat-label>
        <input
          matInput
          [matDatepicker]="purchase"
          (dateChange)="this.purchaseDate = $event.value"
          name="purchaseDate"
          required
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="purchase"
        ></mat-datepicker-toggle>
        <mat-datepicker touchUi #purchase></mat-datepicker>
      </mat-form-field>
    </fieldset>
    <mat-divider></mat-divider>

    <fieldset>
      <legend>Offer Price</legend>
      <mat-form-field>
        <mat-label>Offer Price</mat-label>
        <mat-icon matPrefix>attach_money</mat-icon>
        <input
          matInput
          placeholder="Offer Price"
          [(ngModel)]="offerPrice"
          name="offerPrice"
          type="number"
          appAutoDecimal
          required
        />
      </mat-form-field>
    </fieldset>
    <mat-divider></mat-divider>

    <fieldset>
      <legend>Purchase Price</legend>
      <mat-form-field>
        <mat-label>Purchase Price</mat-label>
        <mat-icon matPrefix>attach_money</mat-icon>

        <input
          matInput
          placeholder="Purchase Price"
          [(ngModel)]="purchasePrice"
          name="purchasePrice"
          type="number"
          appAutoDecimal
          required
        />
      </mat-form-field>
    </fieldset>

    <mat-divider></mat-divider>
    <fieldset>
      <legend>Lookback Option</legend>

      <mat-radio-group
        aria-label="Does your Employer offer Lookback"
        [(ngModel)]="lookback"
        name="lookback"
        type="boolean"
        required
      >
        <mat-radio-button [value]="true">
          <span class="radio-label">Yes</span>
        </mat-radio-button>
        <mat-radio-button [value]="false"
          ><span class="radio-label">No</span></mat-radio-button
        >
      </mat-radio-group>
    </fieldset>

    <mat-divider></mat-divider>

    <!-- NUMBER OF SHARES -->
    <fieldset>
      <legend>Number of Shares</legend>
      <mat-form-field>
        <mat-label>Number of Shares held</mat-label>
        <input
          matInput
          placeholder="ex) 50"
          [(ngModel)]="numShares"
          name="numShares"
          type="number"
          required
        />
      </mat-form-field>
    </fieldset>

    <mat-divider></mat-divider>

    <!-- % DISCOUNT -->
    <fieldset>
      <legend>Discount Rate</legend>

      <mat-form-field>
        <mat-label>Discount %</mat-label>
        <input
          matInput
          placeholder="1-15"
          [(ngModel)]="discountRate"
          type="number"
          name="discountRate"
          required
        />
      </mat-form-field>
    </fieldset>
    <mat-divider></mat-divider>
    <!-- Current Stock Price -->
    <fieldset>
      <legend>Current Stock Price</legend>
      <mat-form-field>
        <mat-label>Current Stock Price </mat-label>
        <mat-icon matPrefix>attach_money</mat-icon>
        <input
          matInput
          placeholder="330.45"
          [(ngModel)]="currentStockPrice"
          name="currentStockPrice"
          type="number"
          appAutoDecimal
          required
        />
      </mat-form-field>
    </fieldset>
    <mat-divider></mat-divider>
    <fieldset>
      <legend >Income</legend>
      <mat-form-field>
        <mat-label>Gross Income </mat-label>
        <mat-icon matPrefix>attach_money</mat-icon>
        <input
          matInput
          placeholder="100,000"
          [(ngModel)]="income"
          name="income"
          type="number"
          required
        />
        <mat-hint>This is prior to taxes</mat-hint>
      </mat-form-field>
    </fieldset>
    <mat-divider></mat-divider>

    <fieldset>
      <legend>Tax Status</legend>
      <mat-form-field>
        <mat-label>What is your tax filing status </mat-label>
        <mat-select [(ngModel)]="taxStatus" name="taxStatus" required>
          <mat-option *ngFor="let status of taxFilingStatus" [value]="status">
            {{ status }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </fieldset>
    <br />

    <!-- <mat-card-footer>
      <mat-card-actions> -->
    <button
      mat-raised-button
      color="primary"
      (click)="
        send(esppForm.form.value, offerDate, purchaseDate);
        $event.preventDefault()
      "
      [disabled]="!esppForm.valid && !offerDate && !purchaseDate"
    >
      Calculate
    </button>
    <!-- </mat-card-actions>
    </mat-card-footer> -->
  </main>
  <!-- </mat-card> -->
</form>

<pre>
  {{ esppForm.value | json }}
  {{esppForm.valid | json}}
   <!-- {{esppForm.offerDate | json}} -->
  {{offerDate | json}}
  {{purchaseDate | json}}
</pre>
